body
{
    background-image:none;
}


h3{
    padding-bottom:10px;
}

h4{
    font-size:18px;
    line-height:24px;
    padding-top:10px;
    text-align: center;
}

a, a:visited {
    outline: 0;
    transition:none;
    text-decoration:underline;
}
.position a
{
    color:white;
}

.content
{
    /*padding-bottom: 0px;
    min-height:600px;*/
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
		width: 100%;
        box-sizing:border-box;
	}

.ajax__html_editor_extender_container, input[type="button"]
{
    padding:0 0 0 0;
}
.menu-link
{
    text-decoration:none;
}

input[type=text], textarea
{
    color:black;
}

.top-row
{
    background-color:white;
}

.one-row
{
    background-color:white;
    display:none;
}
/* non-active button color */
    .button-inactive {
    background: #A0A0A0 !important;
    }


/*Combining tabs*/
.tabs li {
		height: 96px;
		line-height: 107px;
		text-align: center;
		width: 100%;
		float: left;
		list-style: none;
	}

/*Hidding the left box*/
.blog
{
    background-color: Transparent;
}

/*Offset address area*/
.position
{
    line-height: normal;
    height: 196px;
}

/*Offset name area*/
.name
{
    line-height: normal;
    height: 196px;
}

blockquote, blockquote:hover
{
    background:url(images/quote.png) no-repeat 12px 24px;
    background-color:#eeeeee;
    border: 0;
}


/*Override footer color*/
#footer
{
    background-color:  #FAFAFA;
}

.plain-content
{
    padding-top:0;
    padding: 25px 64px 25px 64px
}

.grey-content
{
    display:block;
    padding: 15px 64px 15px 64px
}

.plain-content-left-pad
{
    padding-left:100px;
}

div #home
{
    padding: 50px 128px 40px 192px
}

.alert,
	label.error {
    min-width:200px; max-width:300px;

}


.tabs li.def {
		height:auto;
	}

/* Text Entry Font size */
input[type=text],textarea
{
    font-size: 14px;
}

/*Override width with removal of social buttons*/
.attributes
{
    width: 705px;

}
/*Over right the whole content area padding */

.vcard-container {
		margin: 15px auto 0;
		width: 896px;
	}

    /*  26. Media Queries */
    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px)
    {
        .vcard-container {
			width: 750px;
		}
        div #home  {
		padding: 90px 64px 40px 64px;
		}
        .name {
			width: 60%;
			font-size: 1.6em;
			line-height: 92px;
		}
        .position {
			width: 40%;
		}
        .attributes {
			width: 525px;
		}
        .grey-content
        {
            padding:15px 64px 15px 64px;
        }
        .plain-content
        {
            padding:15px 64px 15px 64px;
        }
    }
    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px)
	{
	    .vcard-container {
			width: 480px;
			margin-top: 0px;
		}

	    div #home  {
		padding: 50px 64px 40px 64px;
		}

		.grey-content {
			padding: 10px 50px 10px 50px;
		}
        .plain-content {
			padding: 10px 50px 10px 50px;
		}

		.name {
			width: 288px;
			font-size: 1.6em;
			line-height: 92px;
		}
		.position {
			width: 288px;
		}
        .attributes {
			width: 288px;
		}
	}
    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px)
	{
	    .vcard-container {
			width: 100%;
			margin-top: 0px;
		}

	    div #home  {
		padding: 30px 36px 40px 36px;
		}

		.grey-content {
			padding: 4px 5px 4px 5px;
		}
        .plain-content {
			padding: 4px 5px 4px 5px;
		}

		.name {
			display: block;
			float: none;
			width: 100%;
			line-height: 60px;
			font-size: 1.6em;
            max-height:128px;
		}
		.position {
			display: block;
			float: none;
			width: 100%;
			line-height: 60px;
            max-height:128px;
		}
        .attributes {
			width: 100%;
            max-height:256px;
		}

		.logocenter
        {
            display:block;
            margin:auto;
            background:white;
        }
        .logocenter img
        {
            display:block;
            margin:auto;
            max-width:150px;
        }

	}


.RadioOption td
{
    padding:10px;
}
.RadioOption td input
{
    margin-right:10px;
}

.RadioOption label
{

}

.highlightChoice
{
    background: #eeeeee;
}


/* Used to center top text */
.middle {
  height: 100%;
  width: 100%;
  display: table;

}

.middle p {
  display: table-cell;
  vertical-align: middle;
}

centerinnerdiv {
    width: 50%;
    margin: 0 auto;
}

ul
{
    list-style:inside;
    padding-left:30px;
}

.powered, .powered a{
		display: inline;
		float: right;
		line-height: 64px;
		font-size: 11px;
		text-transform: uppercase;
        padding-right:10px;
	}




