<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/base.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/color_blue.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/style_over.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/colorbox.css" type="text/css" media="all">
    <link rel="icon" href="https://volentix.io/file/2018/12/favicon-192x192.png" sizes="192x192">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <title>Win - Volentix</title>
    <link rel="canonical" href="https://volentix.io/win/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Win - Volentix" />
    <meta property="og:url" content="https://volentix.io/win/" />
    <meta property="og:site_name" content="Volentix" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Win - $Volentix" />

</head>

<body class="bg-cover" style="background: url(../static/images/bg_img02.jpg);background-attachment: fixed; background-position: 50% 50%; background-size: cover;">
    <!-- Container -->
    <div class="vcard-container">

        <div id="content" class="tab-container main-column">
            <div class="content">
                <img src="../static/images/head.jpg">
                <div class="grey-content" id="topsection">
                    <div class="base center">
                        <h2>Thank you {{name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>